{% extends 'Base.html' %}
{% block content %}

<div ng-controller="ptyControllerList as ctrl" class="pty-content-container ng-cloak">
  <div class="pty-page-title">
    <a class="btn btn-default" href="{% url 'compania' %}">Lista de Compañias</a>
  </div>
  <div class="pty-table-options">
    <a class="btn btn-primary" href="{% url 'compania' %}"><i class="	fa fa-sync" aria-hidden="true"></i></a>
    <button type="button" class="btn btn-primary" ng-click="ctrl.toggleSearch()"><i
        class="fa fa-search"></i></button>
    <a class="btn btn-primary float-right" href="{% url 'form' %}">Crear Nuevo Registro</a>
  </div>
  <div class="pty-table-container " ng-class="{'pty-show-search' : ctrl.showSearch }">
    <div class="pty-table-search">
      <div class="pty-search-fields">

        <form action="{% url 'search' %}">
          <div style="margin-left:150px">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nombre: <input type="text" name="query"
              placeholder="Nombre" /><br>
             

          </div>
          </form>
          <form action="{% url 'search1' %}">
            <div style="margin-left:150px">
            
                Código OWMS: <input type="text" name="query" placeholder="Código OWMS" /><br>
          
  
            </div>
            </form>

            <form action="{% url 'search2' %}">
              <div style="margin-left:150px">
              
                Código Emisor: <input type="text" name="query" placeholder="Código Emisor" /><br>
            
    
              </div>
              </form>
              <form action="{% url 'search3' %}">
                <div style="margin-left:150px">
                
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   RUT: <input type="text" name="query" placeholder="RUT" /><br>
              
      
                </div>
                </form>


      </div>
      <div class="pty-search-buttons text-center">
        <button type="submit" class="btn btn-primary">Buscar</button>
       
        <button type="button" class="btn btn-primary" ng-click="ctrl.toggleSearch()">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="ctrl.resetSearchFields()">Restablecer</button>
      </div>
    </div>
    <table datatable="" dt-instance="ctrl.dtInstanceCallback" dt-options="ctrl.dtOptions"
      dt-column-defs="ctrl.dtColumnDefs" class="row-border compact hover table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Código OWMS</th>
          <th>Código Emisor</th>
          <th>RUT</th>
          <th>Razón Social</th>
          <th>Giro</th>
          <th>Actividad Económica</th>
          <th>Dirección</th>
          <th>Ciudad</th>
          <th>Comuna</th>
          <th>Fono</th>
          <th>Correo</th>
          <th>Cantidad de Líneas</th>
          <th>Fecha Creación</th>
          <th>Creado por</th>
          <th>Fecha Actualización</th>
          <th>Actualizado por</th>
        </tr>
      </thead>
      <tbody>


        {% for i in obj %}
        <tr>
          <td>{{i.id}}</td>
          <td><a href="{% url 'edit' i.id %}"> {{i.Nombre}}</a></td>
          <td>{{ i.Código_de_Compañía_OWM }}</td>
          <td>{{ i.Código_de_Compañía_Emisora}}</td>
          <td>{{ i.RUT}}</td>
          <td>{{ i.Razón_Social}}</td>
          <td>{{ i.Giro}}</td>
          <td></td>
          <td>{{ i.Dirección}}</td>
          <td>{{ i.Ciudad}}</td>
          <td>{{ i.Comuna}}</td>
          <td>{{ i.Fono}}</td>
          <td>{{ i.Correo}}</td>
          <td>{{ i.Cantidad_de_Líneas_Guía}}</td>
          <td>{{ i.Fecha_Creación}}</td>
          <td>{{ i.Creado_por}}</td>
          <td>{{ i.Fecha_Actualización}}</td>
          <td></td>
        </tr>

        {% endfor %}




      </tbody>
    </table>
  </div>
</div>

</div>
{% endblock %}