{% extends 'Base.html' %}
{% load static %}
{% block title %} Edit Profile {% endblock %}
{% block content %}
<br><br><br>
    <div class="container">
        <center>
            <div class="card" style="width: 18rem;" >
                <div class="card-header">Edit Profile</div>
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible" style = "padding-bottom: 0px;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible" style = "padding-bottom: 0px;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
                <div class="card-body">
                    <form action="{% url 'edit_profile' %}" method="POST">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="exampleUserName1" >User Name</label>
                        <input type="text" name="username" value="{{ request.user.username }}" maxlength="150" required id="id_username" class="form-control" >
                        <small id="usernameHelpInline" class="text-muted">
                            Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                        </small>
                    </div >

                    <div class="form-group">
                        <label for="exampleFirstName1" >First Name</label>
                        <input type="text" name="first_name" value="{{ request.user.first_name }}" maxlength="30" id="id_first_name" class="form-control" >
                    </div >
                    

                    <div class="form-group">
                        <label for="exampleLastName1" >Last Name</label>
                        <input type="text" name="last_name" value="{{ request.user.last_name }}" maxlength="150" id="id_last_name" class="form-control" >
                    </div >
                    <input type="hidden" name="password" value="{{ request.user.password }}" id="id_password">
                    <button type="submit" class="btn btn-primary" value="Edit Profile">Edit Profile</button>
                    </form>
                    <br>
                    <a href="{% url 'change_password' %}">Change Password</a>
                    
                </div>
            </div>
        </center>
    </div>
{% endblock content %}