
{% extends 'Base.html' %}
    
{% block content %}
<form method="POST">
    {% csrf_token %}


    {% if form1.errors %}
            {% for field in form1 %}
                {% for error in field.errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
 <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Datos Compañía</h1>
 <div class=" row">
     <div class="col-md-3">
<label> Código de Compañí OWM </label>
<input type="text" class="form-control" name="Código_de_Compañía_OWM" value="{{obj.Código_de_Compañía_OWM}}">
<label> Nombre</label>
<input type="text" class="form-control" name="Nombre"  value="{{obj.Nombre}}">
<label> Razón_Social</label>
<input type="text" class="form-control" name="Razón_Social"  value="{{obj.Razón_Social}}" >
<label>Actividad Económica 1 </label>
<input type="text" class="form-control" name="Actividad_Económica_1"value="{{obj.Actividad_Económica_1}}" >
<label> Actividad Económica 3</label>
<input type="text" class="form-control" name="Actividad_Económica_3"value="{{obj.Actividad_Económica_3}}" >
<label>Fono </label>
<input type="text" class="form-control" name="Fono"value="{{obj.Fono}}" >

</div>
<div class="col-md-3">
     <label> Código de Compañía Emisora</label>
     <input type="text" class="form-control" name="Código_de_Compañía_Emisora"value="{{obj.Código_de_Compañía_Emisora}}" >
     <label> RUT</label>
     <input type="text" class="form-control" name="RUT"value="{{obj.RUT}}" >
     <label> Giro</label>
     <input type="text" class="form-control" name="Giro"value="{{obj.Giro}}" >
     <label> Actividad Económica 2</label>
     <input type="text" class="form-control" name="Actividad_Económica_2"value="{{obj.Actividad_Económica_2}}" >
     <label>Actividad Económica 4 </label>
     <input type="text" class="form-control" name="Actividad_Económica_4"value="{{obj.Actividad_Económica_4}}" >
     <label>Mail </label>
     <input type="text" class="form-control" name="Mail"value="{{obj.Mail}}" >

</div>
</div>
<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Direction</h1>
<div class=" row">
     <div class="col-md-3">
<label>Ciudad </label>
<input type="text" class="form-control" name="Ciudad"value="{{obj.Ciudad}}" >
<label> Dirección</label>
<input type="text" class="form-control" name="Dirección"value="{{obj.Dirección}}" >


</div>
<div class="col-md-3">
     <label> Comuna</label>
     <input type="text" class="form-control" name="Comuna"value="{{obj.Comuna}}" >
    

</div>
</div><br>
<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Parameters Guide</h1><br>
<div class="row">
 <div class="col-md-3">
         <label> Tipo de Generación</label>
         <select name="Tipo_de_Generación" class="form-control"  value="{{obj.Tipo_de_Generación}}" >
                 <option value="Automatic">Automatic</option>
                 <option value="Manual">Manual</option>
     
             </select>
         <label>Tasa IVA </label>
         <input type="text" class="form-control" name="Tasa_IVA"value="{{obj.Tasa_IVA}}" >
         <label>Descripción Producto </label>
         <input type="text" class="form-control" name="Descripción_Producto"value="{{obj.Descripción_Producto}}" >
         <label>URL WebService </label>
         <input type="text" class="form-control" name="URL_WebService"value="{{obj.URL_WebService}}" >
         <label> Contraseña WebService</label>
         <input type="text" class="form-control" name="Contraseña_WebService"value="{{obj.Contraseña_WebService}}" >
       
          
 </div>
 <div class="col-md-3">
         <label> Cantidad de Líneas Guía</label>
         <input type="text" class="form-control" name="Cantidad_de_Líneas_Guía"value="{{obj.Cantidad_de_Líneas_Guía}}" >
         <label>Tipo Código </label>
         <input type="text" class="form-control" name="Tipo_Código"value="{{obj.Tipo_Código}}" >
         <label> Descripción Jerarquía Producto</label>
         <input type="text" class="form-control" name="Descripción_Jerarquía_Producto"value="{{obj.Descripción_Jerarquía_Producto}}" >
         <label> Usuario WebService</label>
         <input type="text" class="form-control" name="Usuario_WebService"value="{{obj.Usuario_WebService}}" >
      
          
 </div>
</div><br>
<div class="row"><div class="col-md-1">
 <button class="btn btn-warning"><a href="{% url 'compania' %}">Cancelar</a>
    </div>
        <div class="col-md-1">

                <input type="submit" value="Aceptar" class="btn btn-primary">

        </div></div>
</form>


{% endblock %}
 