{% extends 'Base.html' %}
{% load static %}
{% block title %} ALUM {% endblock %}



{% block register %}

{% if request.user.is_authenticated  %}
<div class="register-login-area">




    <a href="{% url 'profile' request.user.username  %}" class="btn">{{ request.user.username }}</a>
    <a href="{% url 'logout' %}" class="btn">logout</a>

</div>
{% else %}
<div class="register-login-area">
    <a href="{% url 'login' %}" class="btn">Login</a>
</div>
{% endif %}
{% endblock  %}

{% block content %}
{% if request.user.is_authenticated  %}
<div class="register-login-area">


    <br>

   <h5>Hi   {{ request.user.username }}!<br>
    <a href="{% url 'logout' %}" class="btn">logout</a>
</h5> 
</div>
{% else %}
<div class="register-login-area">
    <a href="{% url 'login' %}" class="btn">Login</a>
</div>
{% endif %}
{% endblock %}