<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% load static %}

{% block content %}
    
<br><br><br><br><br>

    <div class="container">
<center>
            <div class="card" style="width: 18rem;" >
                    <div class="card-header">
                            Log-In
                    </div>
                          {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-warning alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong style="font-size: 14px;">{{ message }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                    <div class="card-body">

                            
                            <form action="{% url 'login' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleUserName1" >User Name</label>
                                    <input type="text" name="username" required id="id_username"  class="form-control"  placeholder="Enter User">
                                </div >
                                <div class="form-group">
                                <label class = "exampleInputPassword1">Password</label>
                                <input type="password" name="password" required id="id_password"  class="form-control"  placeholder="Enter Password">
                                <div>

                            </div>
                            <br>
                                <input type="hidden" next= "next" value="{{ next }}">
                                <center>
                                <button type="submit" class="btn btn-primary" value="Log-in">Log-in</button>
                            </center>
                            </form>
                            <p><center><a href="{% url 'password_reset' %}">Forgotten your password</a></center></p>
                    </div>
                  </div>
                </center>

    </div>
    
{% endblock content %}