{% load static %}
<html>

<head>
  <title>OMF
    - Compañías
  </title>
  <style>
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak,
    .ng-hide {
      display: none !important;
    }
  </style>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="http://54.185.250.13/static/assets/bootstrap/css/custom-css-bootstrap.css"
    type="text/css" />
  <link rel="stylesheet" href="http://54.185.250.13//static/assets/datatables/media/css/jquery.dataTables.min.css"
    type="text/css" />
  <!-- <link rel="stylesheet" href="/static/assets/datatables/media/css/dataTables.bootstrap4.min.css" type="text/css" /> -->
  <link rel="stylesheet" href="http://54.185.250.13//static/assets/angular-datatables/css/angular-datatables.min.css"
    type="text/css" />
  <link rel="stylesheet" href="http://54.185.250.13//static/assets/font-awesome/css/all.min.css" type="text/css" />
  <link rel="stylesheet" href="http://54.185.250.13//static/assets/datetimepicker/datetimepicker.css" type="text/css" />
  <link rel="stylesheet" href="http://54.185.250.13//static/assets/select/select.min.css" type="text/css" />
  <link rel="stylesheet" href="http://54.185.250.13//static/pty/css/main.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body class="d-flex flex-column" ng-app="ptyAppOmf" >
  <header id="sticky-header" class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="{% url 'home' %}">OMF</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item  ">
          <a class="nav-link" href="{% url 'home' %}">Inicio <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Maestros
          </a>
          <div class="dropdown-menu pty-top-dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'compania' %}">Compañias</a>
            <a class="dropdown-item" href="#">Instalaciones</a>
            <a class="dropdown-item" href="#">Impresoras</a>
            <a class="dropdown-item" href="#">Usuarios</a>
            <a class="dropdown-item" href="#">Indicadores de Traslado</a>
            <a class="dropdown-item" href="#">Tipos de Formato de Guía</a>
            <a class="dropdown-item" href="#">Tipos de Documentos</a>
            <a class="dropdown-item" href="#">Tipos de Órdenes</a>
            <a class="dropdown-item" href="#">Direcciones de Entrega</a>
            <a class="dropdown-item" href="#">Artículos</a>
          </div>
        </li>

        <li class="nav-item  ">
          <a class="nav-link" href="#">Cargas</a>
        </li>
        <li class="nav-item  ">
          <a class="nav-link" href="#">Guías</a>
        </li>
      </ul>
      <ul class="navbar-nav ">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {% if request.user.is_authenticated %}
            <i class="fa fa-user-circle-o"></i>    {{ request.user.username }}
            {% else %}
            <a href="{% url 'login' %}" class="btn active">Login</a>
            {% endif %}
          </a>
          <div class="dropdown-menu pty-top-dropdown-menu pty-top-profile-dropdown" aria-labelledby="navDropDownLink">
            <a class="dropdown-item" href="#">Preferencias</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>
          </div>
        </li>
      </ul>
    </div>
  </header>
  <div id="page-content" class="container-fluid" style="height: 100%; ">
   {% block content %}
   {% endblock %}
</div>
  <footer id="sticky-footer" class="py-3 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy;</small>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src=" {% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/angular-1.7.8.min.js' %}" ></script>
  <script src="{% static 'js/angular-cookies.min.js' %}"></script>
  <script src="{% static 'js/angular-sanitize-1.7.8.min.js' %}"></script>
  <script src="{% static 'js/masked-input.min.js' %}"></script>
  <script src="{% static 'js/jquery.mask.min.js' %}"></script>
  <script src="{% static 'js/angular-datatables.min.js' %}"></script>
  <script src="{% static 'js/moment.min.js' %}"></script>
  <script src="{% static 'js/datetimepicker.min.js' %}"></script>
  <script src="{% static 'js/select.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  <script>
    var wLists = '';
  </script>
  <script src="{% static 'js/company.js' %}"></script>
 

</body>

</html>