{% extends 'Base.html' %}
{% block content %}
<form  action="{% url 'search' %}">
    <input type="text" class="form-control" name="query"  placeholder="Search" />

<input type="submit" >
</form>  

{% for company in company %}
{{company.Nombre}}
{%  endfor %}

{%  endblock %}